<!DOCTYPE html>
<style>
    body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;

}
    .header {
        background: rgb(153, 110, 173);
        font-weight: bold;
        padding: 1em 0.5em;
        font-size: 3em;
    }

    .info {
        font-size: 2em;
    }
</style>

<body>




        

    <b>Eri käyttäjää jotka ovat vastanneet: {{user_answer_info[0][0]}}</b>
    <b>vastauksia: {{user_answer_info[0][1]}}</b>

<div class="header">
<b>Vastaukset:</b>
</div>

<br>



<form action="/answers/{{id}}" method="post">
    <b>Anna arvosana käyttäjälle</b>
    <br>
    Tunnus: <input type="text" name="username">
    <p>
    Arvosana: <input type="text" name="grade">
    <p>
    <p>
    <input type="submit" value="Lähetä">
    </form>

<br>


<form action="/answers/{{id}}" method="GET">
    Hae käyttäjä: <input type="text" name="query">
    
    <br>
    <input type="submit" value="Lähetä">
    </form>

<br>
<br>

{% for answer in answers%}

<b>{{ answer[0] }} </b>
<p>
<i>Kysymys: </i> {{ answer[4] }}
<p>
<i>Vastaus:</i> {{ answer[1] }}
<p>
<i>Käyttäjä:</i> {{ answer[2] }}
<p>
<i>Aika:</i> {{ answer[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>

<p>

<hr>
{% endfor %}

</body>