<b>Tervetuloa tarkastelemaan kurssejasi!</b>
<br>
<br>
<hr>

{% if not session.user_id %}
<p> Et ole kirjautunut sisään!</p>
<br>
<a href=/login>Tästä kirjautumaan!</a>
{% endif %}

{% if session.user_id %}

{% endif %}

{% if session.user_id %}

{% for message in messages %}
<b>{{ message[0] }} </b>
<p>
<a href="/kurssi/{{message[4]}}"> Klikkaa tästä päästäksesi kurssille!</a>
<p>
<i>Kurssin opettaja:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<em>{{ message[3] }}</em>
<hr>
{% endfor %}

{% endif %}