<!doctype html>
<style>
    body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;

}
    .header {
        background: rgb(153, 110, 173);
        font-weight: bold;
        padding: 1em 0.5em;
        font-size: 1em;
    }
</style>


<body>
<div class="header">
<b>Tervetuloa tarkastelemaan kursseja!</b>
<nav>
    <ul>
      {% if session.user_id %}
      <p>Olet kirjautunut sisään</p>
      <li><a href="/">Etusivu</a></li>
      <li><a href="/new">Lisää kurssi</a></li>
      <li><a href="/logout">Kirjaudu ulos </a></li>
      <li><a href="/menu"> Tarkastele tietojasi</a></li>
      {% else %}
      <li><a href="/">Etusivu</a></li>
      <li><p> Et ole kirjautunut sisään!</p>
        <a href=/login>Tästä kirjautumaan!</a></li>
      {% endif %}

      
    </ul>
  </nav>
</div>

<br>


{% for message in messages %}
<b>{{ message[0] }} </b>
<p>
<a href="/kurssi/{{message[4]}}"> Klikkaa tästä päästäksesi kurssille!</a>
<p>
<i>Kurssin opettaja:</i> {{ message[1] }}
<p>
<i>Aika:</i> {{ message[2].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
<em>{{ message[3] }}</em>
<hr>
{% endfor %}

</body>