<!doctype html>
<style>
    body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;

}
    .header {
        background: rgb(153, 110, 173);
        font-weight: bold;
        padding: 1em 0.5em;
        font-size: 1em;
    }
</style>

<title>{{info[0]}}</title>
<div class="header">
    <h1>Muokkaa kurssia: <i>{{info[0]}}</i></h1>
  </div>   
<body>
<br>
<b>Tietoja kurssista:</b>
<p>Julkaistu: {{ info[2] }}</p>
<p>Lyhyt kuvaus: {{info[3]}}</p>
<form action="/result" method="POST"></form>

<input type="submit" value="Poista kurssi">
</form>




</body>