<style>
    body {
    margin: auto;
    max-width: 45em;
    font-family: 'Helvetica', 'Arial', sans-serif;

}
    .header {
        background: rgb(153, 110, 173);
        font-weight: bold;
        padding: 1em 0.5em;
        font-size: 2em;
    }
</style>


<body>

    <div class="header">
        <b>Rekisteröityminen</b>
        <nav>
          </nav>
        </div>
<br>
<p>Salasana täytyy olla ainakin 8 merkkiä pitkä ja käyttäjänimi ei saa olla tyhjä eikä yli 20 merkkiä pitkä</p>
<br>
<br>

<form action="/register" method="post">
Tunnus: <input type="text" name="username">
<p>
Salasana: <input type="password" name="password1">
<p>
Salasana uudestaan: <input type="password" name="password2">
<p>
<input type="submit" value="Luo tunnus">
</form>

    
</body>